<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <section id="categories">
      <% if(successMessage) {%>
      <div class="message success">
        <h1 class="message-info"><%= successMessage %></h1>
      </div>
      <% } else if(errorMessage) { %>
      <div class="message error">
        <h1 class="message-info"><%= errorMessage %></h1>
      </div>

      <%}%>
      <form
        action="<% if(editing) {%>/admin/edit-category <%} else {%>/admin/add-category<%}%>"
        method="POST"
        class="form"
      >
        <div class="form-control">
          <% if(editing) {%>
          <input
            type="text"
            class="input"
            placeholder="add categories"
            value="<%= category.title %>"
            name="category"
          />
          <%} else { %>
          <input
            type="text"
            class="input"
            name="category"
            value=""
            placeholder="add categories"
          />

          <%}%> <% if(editing) {%>
          <button type="submit">Update category</button>
          <%} else {%>
          <button type="submit">Add category</button>
          <%}%>
        </div>
        <input type="hidden" name="cateId" value="<%= category._id %>" />
      </form>
    </section>
    <%- include('../includes/script.ejs') %>
  </body>
</html>
